<form method="post" action="https://pagseguro.uol.com.br/v2/checkout/payment.html">  
          
        <!-- Campos obrigatórios -->  
        <input name="receiverEmail" value="gilianopiassa@gmail.com" type="hidden">  
        <input name="currency" value="BRL" type="hidden">  
  
        <!-- Itens do pagamento (ao menos um item é obrigatório) --> 
        {loop="$products"} 
        <input name="itemId{$counter+1}" value="{$value.idproduct}" type="hidden">  
        <input name="itemDescription{$counter+1}" value="{$value.desproduct}" type="hidden">  
        <input name="itemAmount{$counter+1}" value="{$value.vltotal}" type="hidden">  
        <input name="itemQuantity{$counter+1}" value="{$value.nrqtd}" type="hidden">  
        <input name="itemWeight{$counter+1}" value="{$value.vlweight*1000}" type="hidden">
        {/loop}

        <!--  
        <input name="itemId2" value="0002" type="hidden">  
        <input name="itemDescription2" value="Notebook Rosa" type="hidden">  
        <input name="itemAmount2" value="25600.00" type="hidden">  
        <input name="itemQuantity2" value="2" type="hidden">  
        <input name="itemWeight2" value="750" type="hidden"> 
        --> 
  
        <!-- Código de referência do pagamento no seu sistema (opcional) -->  
        <input name="reference" value="{$order.idorder}" type="hidden">  
          
        <!-- Informações de frete (opcionais) -->  
        <input name="shippingType" value="1" type="hidden">  
        <input name="shippingAddressPostalCode" value="{$order.deszipcode}" type="hidden">  
        <input name="shippingAddressStreet" value="{function="utf8_encode($order.desaddress)"}" type="hidden">  
        <input name="shippingAddressNumber" value="{function="utf8_encode($order.desnumber)"}" type="hidden">  
        <input name="shippingAddressComplement" value="{function="utf8_encode($order.descomplement)"}" type="hidden">  
        <input name="shippingAddressDistrict" value="{function="utf8_encode($order.desdistrict)"}" type="hidden">  
        <input name="shippingAddressCity" value="{function="utf8_encode($order.descity)"}" type="hidden">  
        <input name="shippingAddressState" value="{function="utf8_encode($order.desstate)"}" type="hidden">  
        <input name="shippingAddressCountry" value="{function="utf8_encode($order.descountry)"}" type="hidden">  
  
        <!-- Dados do comprador (opcionais) -->  
        <input name="senderName" value="{function="utf8_encode($order.desperson)"}" type="hidden">  
        <input name="senderAreaCode" value="{$phone.areaCode}" type="hidden">  
        <input name="senderPhone" value="{$phone.number}" type="hidden">  
        <input name="senderEmail" value="{$order.desemail}" type="hidden">  
  
        <!-- submit do form (obrigatório) -->  
        <!-- <input alt="Pague com PagSeguro" name="submit"  type="image"  
src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar.gif"/>  -->          
</form>
<script type="text/javascript">
        document.forms[0].submit();
</script>  